body {
    height: 100vh;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 1.7rem;
}

img {
    position: absolute;
    left: 20%;
}

hr {
    width: 400px;
    height: 1px;
    border: none;
    background: #D4D4D4;
    margin-right: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 655px;
    height: 347px;
    border-radius: 20px;
    background-color: white;
}

.botao {
    width: 400px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    text-align: left;
    margin-right: 37px;
}

.ativo, .botao:hover {
    background-color: gray;
}

.painel {
    display: none;
}