html {
    background: #E5E5E5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray;
}

.container {
    width: 655px;
    min-height: 347px;
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
}

.container .illustration {
    position: absolute;
    left: -90px;
}

.container .content {
    width: 90%;
    padding-left: 225px;
}

.container .content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 14px;
}

.content .items .item {
    cursor: pointer;
    background: url(../img/seta.svg) top 5px right 0/12px no-repeat;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.content .items .item:last-child {
    border-bottom: none;
}

.content .items .item .question {
    transition: 0.2s ease;
    padding-bottom: 15px;
    font-size: 1.7rem;
    font-weight: 500;
    width: 90%;
}

.item .question:hover {
    color: #f47c57;
}

.content .items .item .reply {
    display: none;
    padding-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 300;
}

/* ACTIVE ACCORDION STYLE */

.content .items .item.active h2 {
    font-weight: 700;
    font-size: 1.7rem;
}

.content .items .item.active .reply {
    display: block;
}

.content .items .item.active {
    background-image: url(../img/seta\ aberta.svg);
}